<div class="background">
    <section @fade class="modal">
        <span (click)="handleClose()"><i class="fas fa-times"></i></span>
        <h2><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</h2>
        <p>Trasher is a web application that facilitates the reporting of  
            dump sites on public land. If a dump site is found, a user can create a public report
            of the issue with location information. That report is then publicly displayed, 
            and either members of the public or local authorities can address each problem 
            as it arises. 
            <!-- <br /><br />
            When creating reports, users are allowed to optionally leave 
            an email address. If they do, when a report is resolved, the user 
            is automatically notified by email that their issue has been addressed.  -->
            <br /><br />
            This application was constructed using Angular 4, Express, Node and Postgres. 
            It was made in 2018 by Jack Seabolt. 
        </p>
    </section>
</div>