.form-container {
    background: rgb(90, 90, 90);
    padding: 20px 40px; 
    margin-bottom: 5px; 
    border-radius: 2px; 
    transition: 0.3s; 
    cursor: pointer; 
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(117, 117, 117);
    font-size:0;
}

h4 {
    margin: 0px; 
    font-family: 'Raleway', sans-serif;
    display: inline-block;  
}

.error {
    color: rgb(233, 115, 115);
    margin-top: 20px;
    margin-left: 10px; 
    margin-bottom: 0px; 
    font-family: arial;
    font-size: 14px;   
}

input {
    padding: 10px 15px; 
    border: 0px; 
    border-radius: 2px 0px 0px 2px; 
    margin: 0px 0px 0px 0px;
    width: calc(35% - 40px); 
    font-size: 15px; 
     
}

.button {
    padding: 10px 15px; 
    border: 1px; 
    border-radius: 2px; 
    margin: 0px 10px 0px 0px; 
    font-size: 16px;  
    color: white; 
    background-color: rgb(37, 37, 37); 
    cursor: pointer; 
    transition: 0.3s; 
}

.button-search {
    padding: 10px 25px; 
    border: 1px; 
    border-radius: 0px 5px 5px 0px; 
    margin: 0px; 
    font-size: 16px;  
    color: white; 
    background-color: rgb(37, 37, 37); 
    cursor: pointer; 
    transition: 0.3s; 
}

button:hover {
    background-color: rgb(51, 51, 51); 
}

.float-right {
    float: right; 
}

@media screen and (max-width: 579px) {
    .float-right {
        padding-top: 20px;
        float: none;  
    }
    input {
        width: calc(100% - 100px);   
    }
}

@media screen and (max-width: 579px) {
    #view-all {
        margin-top: 15px; 
    }

}