<Navigation 
    (start)="started=false" 
    (startNew)="newActivated=!newActivated"
    (startAbout)="aboutActivated=!aboutActivated"
></Navigation>
<NewItemForm *ngIf="newActivated" (close)="newActivated=!newActivated" (submit)="handleNewItem()"></NewItemForm>
<FocusItemModal 
    *ngIf="current" 
    [current]="current" 
    (close)="handleCloseModal()"
    (delete)="handleNewItem()" 
    (resolve)="getItems()"
></FocusItemModal>
<About *ngIf="aboutActivated" (close)="aboutActivated=!aboutActivated"></About>
<div class="container">
    <Board 
        [items]="items" 
        (delete)="handleNewItem()" 
        (focus)="handleFocus($event)"
        (search)="handleSearch($event)"
        (startNew)="newActivated=!newActivated"
        (viewAll)="handleGetAll()"
    ></Board>
</div>