<div class="background">
    <section class="modal">
        <span (click)="handleClose()"><i class="fas fa-times"></i></span>
        <h2>Report Details</h2>
        <p>Description: {{ current.description | capitalize }}</p>
        <p>City: {{ current.city | capitalize }}</p>
        <p>Street: {{ current.street | capitalize }}</p>
        <p>Data reported: {{ current.date_reported | date }}</p>
        <p *ngIf="current.completed">Date resolved: {{ current.date_completed | date }}</p>
        <p>Resolved: {{ current.completed }}</p>
        <button (click)="handleDelete()" class="delete-button">Delete</button>
        <button *ngIf="!current.completed" (click)="handleResolve()" class="resolve-button">Resolve</button>
    </section>
</div>