
.background {
    background-color: rgba(0,0,0,0.5); 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.top-spacing {
    margin: 20px 0px; 
}

.fa-times {
    float: right; 
    opacity: 0.3; 
    font-size: 22px; 
    cursor: pointer;
    transition: 0.5s; 
    position: relative; 
    top: -9px; 
}

.fa-times:hover {
    opacity: 0.5; 
}

.modal {
    background-color: rgb(231, 231, 231); 
    padding: 50px; 
    border-radius: 5px;
    width: 50%; 
    max-width: 400px;  
    transition: 0.3s; 
}

button {
    padding: 15px 0px; 
    font-size: 18px; 
    color: white; 
    margin-top: 20px; 
    transition: 0.5s; 
    cursor: pointer; 
    border: 0px; 
    width: 120px; 
}

.delete-button {
    background-color: rgb(182, 74, 74); 
}

.delete-button:hover {
    background-color: rgb(88, 37, 37);
    color: white; 
}

.resolve-button {
    background-color: rgb(65, 114, 85);
    margin-left: 3px;   
}

.resolve-button:hover {
    background-color: rgb(44, 78, 58); 
    color: white; 
}

h1, h2, h3, h4, h5, p {
    font-family: 'Raleway', sans-serif; 
}

p {
    line-height: 150%; 
}

@media screen and (max-width: 650px) {
    .modal {
        width: calc(100% - 60px); 
        max-width: 100%;  
        height: 100vh;  
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }
    .fa-times {
        position: absolute; 
        top: 30px; 
        right: 30px; 
    }
}
