section {
    background: rgb(165, 165, 165);
    padding: 20px 40px; 
    margin-bottom: 5px; 
    border-radius: 2px; 
    transition: 0.3s; 
    cursor: pointer;
    overflow: auto; 
    z-index: 5;  
}

section:hover {
    background: rgb(143, 143, 143); 
}

h4 {
    margin: 0px; 
    font-family: 'Raleway', sans-serif;
    display: inline-block;  
}

.fa-check {
    float: right;
    color: rgb(178, 216, 178);  
}

@media screen and (max-width: 600px) {
    .fa-check {
        display: none; 
    }
}