<div>
    <div class="video-background">
        <div class="video-foreground">
            <iframe title="welcome" src="https://www.youtube.com/embed/vDOhPeNqfJY?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=vDOhPeNqfJY" frameBorder="0" allowFullScreen></iframe>            
        </div>
    </div> 
    <div class="logo-container">
        <div class="logo-inner-container">
            <h1>Trasher</h1>
            <h2>Report waste. Get it removed fast.</h2>
            <a routerLink="/main"><button class="home-button">Get Started</button></a>
        </div>
    </div>
</div>