<nav>
    <h1>Trasher</h1>
    <ul>
        <a routerLink=""><li >Home</li></a>
        <li (click)="handleToggleForm()">New</li>
        <li (click)="handleToggleAbout()">About</li>
    </ul>
    <div class="hamburger" (click)="toggleMobileNav()">
        <div class="hamburger-stripe"></div>
        <div class="hamburger-stripe"></div>
        <div class="hamburger-stripe"></div>
    </div>
    <div class="mobile-nav" *ngIf="mobileNavActive">
        <a routerLink="" (click)="toggleMobileNav()"><p>Home</p></a>
        <p (click)="handleToggleForm(); toggleMobileNav()">New<p>
        <p (click)="handleToggleAbout(); toggleMobileNav()">About</p>
    </div>
</nav>