.alert {
    color: rgb(233, 115, 115);
    font-family: arial;
    font-size: 14px; 
    margin-top: 5px;
    margin-bottom: 10px; 
    margin-left: 10px;    
}

label {
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;  
}

.background {
    background-color: rgba(0,0,0,0.5); 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: auto; 
}

.top-spacing {
    margin: 20px 0px; 
}

.bottom-spacing {
    margin-bottom: 20px !important; 
}

.fa-times {
    float: right; 
    opacity: 0.3; 
    font-size: 22px; 
    cursor: pointer;
    transition: 0.5s; 
    position: relative; 
    top: -9px; 
}

.fa-times:hover {
    opacity: 0.5; 
}

form {
    background-color: rgb(231, 231, 231); 
    padding: 50px; 
    border-radius: 5px;
    width: 50%; 
    z-index: 99;
    max-width: 400px; 
    min-height: min-content;  
}

.input {
    padding: 10px 15px; 
    border: 0px; 
    border-radius: 5px; 
    margin: 10px 0px;
    width: calc(100% - 30px); 
    font-size: 18px; 
    font-family: 'Raleway', sans-serif;  
}

button {
    padding: 20px 0px;
    background-color: rgb(67, 67, 94); 
    font-size: 18px; 
    color: white; 
    margin-top: 30px; 
    transition: 0.5s; 
    cursor: pointer; 
    width: 100%; 
}

button:hover {
    background-color: rgb(34, 34, 43);
    color: white; 
}

h1, h2, h3, h4, h5, p {
    font-family: 'Raleway', sans-serif; 
}

@media screen and (max-width: 650px) {
    form {
        background-color: rgb(231, 231, 231); 
        padding: 30px; 
        border-radius: 5px;
        width: calc(100% - 60px); 
        max-width: 100%;  
        height: 100vh;  
        padding-top: 160px; 
    }
    .fa-times {
        position: absolute; 
        top: 30px; 
        right: 30px; 
    }
    re-captcha {
        display: none; 
    }
}

